install charset-normalizer==2.0.12
install cycler==0.11.0
install facenet-pytorch==2.5.2
install fonttools==4.33.3
install idna==3.3
install kiwisolver==1.4.2
install lpips==0.1.4
install matplotlib==3.5.2
install numpy==1.21.6
install packaging==21.3
install pillow==9.1.1
install pyparsing==3.0.9
install python-dateutil==2.8.2
install requests==2.28.0
install scipy==1.7.3
install six==1.16.0
install torch==1.10.0
install torchaudio
install torchvision
install tqdm==4.64.0
install typing-extensions==4.2.0
install urllib3==1.26.9